<!DOCTYPE html>
<html lang="en" ng-app="herald" ng-controller="AppController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Herald - a Puppet report processor</title>

    <meta name="description" content="Herald - a Puppet report processor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap<%= @minified %>.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme<%= @minified %>.css">
    <link rel="stylesheet" href="css/herald.css">
  </head>
  <body>

    <ui-view></ui-view>

    <script type="text/javascript" src="bower_components/angular/angular<%= @minified %>.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router<%= @minified %>.js"></script>
    <script type="text/javascript" src="bower_components/angular-breadcrumb/release/angular-breadcrumb<%= @minified %>.js"></script>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-moment/angular-moment<%= @minified %>.js"></script>
    <script type="text/javascript" src="bower_components/angular-utils-pagination/dirPagination.js"></script>

    <!-- Automatic includes of project files -->
    <% @files.each do |file| %>
    <script type="text/javascript" src="<%= file %>"></script><% end %>
  </body>
</html>